body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    padding: 20px 36px 20px 36px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.app {
    max-width: 938px;
    margin: 0 auto;
    text-align: center;
}

.ant-select {
    display: none !important;
}